In [2]:
import pandas as pd

In [4]:
train_data = pd.read_csv(r"C:\Users\rdas3\Desktop\titanic\train.csv")
test_data = pd.read_csv(r"C:\Users\rdas3\Desktop\titanic\test.csv")
all_data = [train_data, test_data]

In [5]:
print(train_data[["Pclass","Survived"]]).groupby(["Pclass"], as_index = False).mean()

     Pclass  Survived
0         3         0
1         1         1
2         3         1
3         1         1
4         3         0
5         3         0
6         1         0
7         3         0
8         3         1
9         2         1
10        3         1
11        1         1
12        3         0
13        3         0
14        3         0
15        2         1
16        3         0
17        2         1
18        3         0
19        3         1
20        2         0
21        2         1
22        3         1
23        1         1
24        3         0
25        3         1
26        3         0
27        1         0
28        3         1
29        3         0
..      ...       ...
861       2         0
862       1         1
863       3         0
864       2         0
865       2         1
866       2         1
867       1         0
868       3         0
869       3         1
870       3         0
871       1         1
872       1         0
873       3         0
874       2         1
875       3         1
876       3         0
877       3         0
878       3         0
879       1         1
880       2         1
881       3         0
882       3         0
883       2         0
884       3         0
885       3         0
886       2         0
887       1         1
888       3         0
889       1         1
890       3         0

[891 rows x 2 columns]

AttributeError: 'NoneType' object has no attribute 'groupby'

In [7]:
print(train_data[["Pclass","Survived"]].groupby(["Pclass"], as_index = False).mean())

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [8]:
print(train_data[["Pclass","Survived"]].groupby(["Pclass"], as_index = False).mean()*100)

   Pclass   Survived
0     100  62.962963
1     200  47.282609
2     300  24.236253

In [9]:
print(train_data[["Sex","Survived"]].groupby(["Sex"], as_index = False).mean()*100)

                                                 Sex   Survived
0  femalefemalefemalefemalefemalefemalefemalefema...  74.203822
1  malemalemalemalemalemalemalemalemalemalemalema...  18.890815

In [12]:
print(train_data[["SibSp","Parch","Survived"]].groupby(["SibSp","Parch"], as_index = False).mean())

    SibSp  Parch  Survived
0       0      0  0.303538
1       0      1  0.657895
2       0      2  0.724138
3       0      3  1.000000
4       0      4  0.000000
5       0      5  0.000000
6       1      0  0.520325
7       1      1  0.596491
8       1      2  0.631579
9       1      3  0.333333
10      1      4  0.000000
11      1      5  0.333333
12      1      6  0.000000
13      2      0  0.250000
14      2      1  0.857143
15      2      2  0.500000
16      2      3  1.000000
17      3      0  1.000000
18      3      1  0.000000
19      3      2  0.285714
20      4      1  0.000000
21      4      2  0.333333
22      5      2  0.000000
23      8      2  0.000000

In [13]:
for data in all_data:
    data["family_size"] = data["SibSp"] + data["Parch"] + 1
print( train_data[["family_size","Survived"]].groupby(["family_size"], as_index = False).mean() )

   family_size  Survived
0            1  0.303538
1            2  0.552795
2            3  0.578431
3            4  0.724138
4            5  0.200000
5            6  0.136364
6            7  0.333333
7            8  0.000000
8           11  0.000000

In [14]:
import pandas as pd

passenger_id = test_data['PassengerId']


#Feature 3.1: Is alone?
for data in all_data:
    data['is_alone'] = 0
    data.loc[data['family_size'] == 1, 'is_alone'] = 1
print (train_data[['is_alone', 'Survived']].groupby(['is_alone'], as_index=False).mean())

   is_alone  Survived
0         0  0.505650
1         1  0.303538

In [15]:
#Feature 4: Embarked
for data in all_data:
    data['Embarked'] = data['Embarked'].fillna('S')
print( train_data[["Embarked","Survived"]].groupby(["Embarked"], as_index = False).mean() )

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [16]:
#Feature 5: Fare
for data in all_data:
    data['Fare'] = data['Fare'].fillna(data['Fare'].median())
train_data['category_fare'] = pd.qcut(train_data['Fare'], 4)
print( train_data[["category_fare","Survived"]].groupby(["category_fare"], as_index = False).mean() )

     category_fare  Survived
0   (-0.001, 7.91]  0.197309
1   (7.91, 14.454]  0.303571
2   (14.454, 31.0]  0.454955
3  (31.0, 512.329]  0.581081

In [18]:
import numpy as np

In [19]:
#Feature 6: Age
for data in all_data:
    age_avg  = data['Age'].mean()
    age_std  = data['Age'].std()
    age_null = data['Age'].isnull().sum()

    random_list = np.random.randint(age_avg - age_std, age_avg + age_std , size = age_null)
    data['Age'][np.isnan(data['Age'])] = random_list
    data['Age'] = data['Age'].astype(int)

train_data['category_age'] = pd.cut(train_data['Age'], 5)
print( train_data[["category_age","Survived"]].groupby(["category_age"], as_index = False).mean() )

    category_age  Survived
0  (-0.08, 16.0]  0.532110
1   (16.0, 32.0]  0.351230
2   (32.0, 48.0]  0.376471
3   (48.0, 64.0]  0.434783
4   (64.0, 80.0]  0.090909

C:\Users\rdas3\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
import re

In [22]:
#Feature 7: Name
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\. ', name)
    if title_search:
        return title_search.group(1)
    return ""

for data in all_data:
    data['title'] = data['Name'].apply(get_title)

for data in all_data:
    data['title'] = data['title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'],'Rare')
    data['title'] = data['title'].replace('Mlle','Miss')
    data['title'] = data['title'].replace('Ms','Miss')
    data['title'] = data['title'].replace('Mme','Mrs')
    
print(pd.crosstab(train_data['title'], train_data['Sex']))
print("----------------------")
print(train_data[['title','Survived']].groupby(['title'], as_index = False).mean())

Sex     female  male
title
Master       0    40
Miss       185     0
Mr           0   517
Mrs        126     0
Rare         3    20
----------------------
    title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.347826

In [29]:
for data in all_data:
    sex_map = { 'female':0 , 'male':1 }
    data['Sex'] = data['Sex'].map(sex_map).astype(float)

In [30]:
    #Mapping Title
    title_map = {'Mr':1, 'Miss':2, 'Mrs':3, 'Master':4, 'Rare':5}
    data['title'] = data['title'].map(title_map)
    data['title'] = data['title'].fillna(0)

In [32]:
    #Mapping Embarked
    embark_map = {'S':0, 'C':1, 'Q':2}
    data['Embarked'] = data['Embarked'].map(embark_map).astype(float)

In [34]:
 #Mapping Fare
data.loc[ data['Fare'] <= 7.91, 'Fare']                            = 0
data.loc[(data['Fare'] > 7.91) & (data['Fare'] <= 14.454), 'Fare'] = 1
data.loc[(data['Fare'] > 14.454) & (data['Fare'] <= 31), 'Fare']   = 2
data.loc[ data['Fare'] > 31, 'Fare']                               = 3
data['Fare'] = data['Fare'].astype(int)

In [35]:
    #Mapping Age
    data.loc[ data['Age'] <= 16, 'Age']                       = 0
    data.loc[(data['Age'] > 16) & (data['Age'] <= 32), 'Age'] = 1
    data.loc[(data['Age'] > 32) & (data['Age'] <= 48), 'Age'] = 2
    data.loc[(data['Age'] > 48) & (data['Age'] <= 64), 'Age'] = 3
    data.loc[ data['Age'] > 64, 'Age']                        = 4

In [47]:
#Feature Selection
#Create list of columns to drop
drop_elements = ["Name", "Ticket", "Cabin", "SibSp", "Parch"]

In [49]:
print(train_data.head(10))

   Survived  Pclass  Sex  Age  Fare  Embarked  is_alone  title
0         0       3    1    1     0         0         0      1
1         1       1    0    2     3         1         0      3
2         1       3    0    1     1         0         1      2
3         1       1    0    2     3         0         0      3
4         0       3    1    2     1         0         1      1
5         0       3    1    1     1         2         1      1
6         0       1    1    3     3         0         1      1
7         0       3    1    0     2         0         0      4
8         1       3    0    1     1         0         0      3
9         1       2    0    0     2         1         0      3

In [50]:

#Prediction
#Train and Test data
X_train = train_data.drop("Survived", axis=1)
Y_train = train_data["Survived"]
X_test  = test_data.drop("PassengerId", axis=1).copy()

In [52]:
from sklearn import tree

In [55]:
import sklearn

In [58]:
import sklearn

In [59]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

In [60]:
#Running our classifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
accuracy = round(decision_tree.score(X_train, Y_train) * 100, 2)
print("Model Accuracy: ",accuracy)

Model Accuracy:  87.32

In [61]:
#Create a CSV with results
submission = pd.DataFrame({
    "PassengerId": test_data["PassengerId"],
    "Survived": Y_pred
})
submission.to_csv('submission.csv', index = False)